
.hud-text {
    color: white;
    font-family: Kenney-High;
    font-size: 2em;
}

.hud-text-big {
    color: white;
    font-family: Kenney-High;
    font-size: 4em;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
50% {
    opacity: 0;
}
}