

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
-ms-overflow-style: none;
}

body {
    margin: 0;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

#game-container {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#ui {
    position: relative;
    border: 1px green solid;
    z-index: 1000;
}
